body {
  font-family: Arial, Helvetica, sans-serif;
}

.toggle-forms-div {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.toggle-forms-div button {
  align-self: center;
  width: auto;
  border-radius: 8px;
  border: none;
  background-color: rgb(83, 61, 250);
  padding: 0.2rem 0.9rem;
  font-weight: bold;
  color: white;
}

.toggle-forms-div button:hover {
  background-color: rgba(83, 61, 250, 0.713);
  cursor: pointer;
}

.forms-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.forms-container h2 {
  font-size: clamp(1.4rem, 5vw, 23px);
}

.identity-form,
.education-form,
.work-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.forms-container label {
  color: hsl(0, 0%, 20%);
  font-size: clamp(1.2rem, 3vw, 20px);
}

.forms-container input,
.forms-container textarea {
  padding: 0.75rem;
  font-size: clamp(1.2rem, 3vw, 20px);
  border-radius: 7px;
  margin-bottom: 10px;
  color: hsl(0, 0%, 0%);
  border: 2px solid hsl(0, 0%, 65%);
}

.forms-container input::placeholder,
.forms-container textarea::placeholder {
  font-size: clamp(1.2rem, 3vw, 20px);
  color: hsl(0, 0%, 62%);
}

.forms-container button {
  font-size: clamp(1.2rem, 3vw, 20px);
  align-self: center;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: rgb(83, 61, 250);
  padding: 0.5rem 1rem;
  margin-top: 10px;
  font-weight: bold;
  color: white;
}

.forms-container button:hover {
  background-color: rgba(83, 61, 250, 0.72);
  cursor: pointer;
}

.form-field-vertical {
  display: flex;
  flex-direction: column;
}

.job-description textarea {
  field-sizing: content;
  min-height: 4lh;
  resize: vertical;
}

.start-year-end-year {
  display: flex;
  flex: 1;
  max-width: 100%;
  gap: 1rem;
}

.start-year-end-year .form-field-vertical {
  flex: 1;
  min-width: 0;
}

.start-year-end-year input {
  width: auto;
}

.cv {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cv .crossed-out {
  text-decoration: line-through;
}

.cv h2 {
  font-size: clamp(1.2rem, 25px, 30px);
  margin-bottom: 10px;
  line-height: 100%;
}

.cv ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 200%;
}

.cv-header h1 {
  text-align: center;
  font-size: min(6vw, 50px, 75px);
}

.cv-phone-email {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: clamp(1.2rem, 3vw, 20px);
}

.cv-education ul li,
.cv-work ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: clamp(1rem, 3vw, 20px);
}

.cv-education ul li div,
.cv-work ul li div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cv-education ul li .school,
.cv-work ul li .position {
  font-size: clamp(1.3rem, 4vw, 25px);
  margin-bottom: 0px;
  line-height: normal;
}
.cv-education ul li .study,
.cv-education ul li .year,
.cv-work ul li .company,
.cv-work ul li .year {
  color: hsla(0, 0%, 0%, 0.863);
  font-size: clamp(1.2rem, 3vw, 20px);
}

.cv-work .description {
  margin-left: 20px;
}

@media (min-width: 768px) {
  .forms-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 20%;
  }

  .forms-container button {
    align-self: end;
    max-width: 50%;
  }

  .cv {
    padding: 0rem 10%;
  }
}

@media (min-width: 1024px) {
  .forms-container {
    padding: 2rem 25%;
  }

  .cv {
    padding: 0 20%;
  }
}
